<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/robin.nguyen.549668/">
                        Mạnh Hùng
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/nguyen.bjn.56/">
                        Đăng Cao
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100007166893014">
                        Hoàng Duy
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/anhduy.nguyen.7399786">
                        Anh Duy
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/GiaHuy154">
                        Gia Huy
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100013006455600">
                        Thanh Hà
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by Team ChiaHuaHua (THCNTT3)
            
        </div>
    </div>
</footer>
